/* font importing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* reseting css rules */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #86BAC7;
  --secondary: #FFB347;
  --tertiary: #dedede;
  --strong: royalblue;
  --hover: #00285f83;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 500px;
  background: var(--secondary);
}

.content {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 24px;
  color: var(--strong);
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

nav ul li a {
  color: var(--strong);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--hover);
}

nav ul button {
  border: 1px solid var(--strong);
  background: transparent;
  padding: 8px 40px;
  cursor: pointer;
  margin-left: 30px;
  color: var(--strong);
  font-weight: bold;
  border-radius: 4px;
}

nav ul button:hover {
  transition: background, color 0.6s;
  background: var(--primary);
  border-color: var(--primary);
  color: white;
}

.content .header-block {
  max-width: 1000px;
  min-width: 300px;
  height: 500px;
  background: var(--primary);
  border-radius: 8px;
  box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  padding: 10px;
}

.header-block img {
  max-height: 700px;
  max-width: 700px;
  height: 60%;
  width: 30%;
  position: absolute;
  left: 60%;
  top: 30%;
}

.header-block .text {
  position: absolute;
  left: 16%;
  top: 50%;
  text-wrap: nowrap;
}

.header-block .text h2 {
  color: var(--tertiary);
  text-align: center;
  transform: translateX(-20px);
  transition: transform 0.5s;
}

.header-block .text p {
  max-width: 280px;
  color: var(--tertiary);
  text-align: center;
  transform: translateX(-20px);
  transition: transform 0.4s;
}

/* Product Catalog */

section .catalog {
  width: 100vw;
  padding: 100px;
}

section .filter-card {
  width: 980px;
  height: 150px;
  background: var(--tertiary);
  border-radius: 8px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 700px;
  height: 50px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  text-indent: 10px;
}

.wrapper-crud {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.crud-buttons {
  margin-bottom: 3%;
}

.crud-buttons {
  width: 150px; 
  height: 50px;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#add-book {
  background-color: royalblue;
  transition: 0.5s;
}

#add-book:hover {
  background-color: rgb(132, 163, 255);
  transition: 0.5s;
}

#get-book {
  background-color: royalblue;
  transition: 0.5s;
}

#get-book:hover {
  background-color: rgb(132, 163, 255);
  transition: 0.5s;
}

#update-book {
  background-color: #ffa220;
  transition: 0.5s;
}

#update-book:hover {
  background-color: #ffc676;
  transition: 0.5s;
}

#remove-book {
  background-color: rgb(209, 0, 0);
  transition: 0.5s;
}

#remove-book:hover {
  background-color: rgb(255, 91, 91);
  transition: 0.5s;
}

.buttons {
  margin-top: 12px;
}

.search-button {
  width: 150px;
  height: 50px;
  border-radius: 0px 4px 4px -0px;
  border: none;
  background: var(--strong);
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.3s ease;
}

.search-button:hover {
  background: var(--primary);
  color: white;
}

.title-wrapper-catalog {
  margin-top: 200px;
  padding-bottom: 20px;
}

section .card-wrapper {
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 80px;
  padding-top: 50px;
  margin-left: 50px;
}

section .card-item {
  height: 450px;
  width: 350px;
  background: var(--tertiary);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card-item img {
  width: 50%;
  height: 50%;
  margin-top: 8%;
}

.card-item h4 {
  width: 90%;
}

.card-item p {
  width: 90%;
  font-style: italic;
  color: #00000070;
}

/* About */

.about {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
}

.about-content {
  max-width: 1000px;
  min-width: 300px;
  height: 600px;
  background: var(--tertiary);
  margin: 0 auto;
  border-radius: 8px;
  z-index: 10;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-wrapper-about {
  margin-bottom: 2%;
}

.left {
  width: 25%;
  min-width: 300px;
  height: 100%;
  background: #000000a1;
  border-radius: 8px;
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.right h3 {
  text-align: center;
  width: 90%;
  margin-bottom: 20px;
}

.right p {
  max-width: 900%;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
  padding: 10px;
  color: rgba(0, 0, 0, 0.4);
}

/* Features */
.features {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.title-wrapper-features {
  padding: 20px 0px;
}

.feature-card-block {
  max-width: 1000px;
  min-width: 300px;
  height: 600px;
  background: var(--tertiary);
  margin: 0 auto;
  border-radius: 8px;
  z-index: 10;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-gap: 30px;
}

.feature-card-item {
  max-width: 420px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #000000a2;
  border-radius: 4px;
}

.feature-text-content {
  max-width: 60%;
  margin: 5px;
}

.feature-card-item img {
  width: 64px;
  height: 64px;
}

/* Footer */
footer {
  width: 100%;
  height: 250px;
}

footer .main {
  width: 100%;
  height: 200px;
  background: var(--secondary);
  padding: 20px 10px;
}

.footer-links {
  max-width: 1000px;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-company,
.footer-contact,
.footer-social {
  color: var(--tertiary);
  height: 100%;
  min-height: 100px;
}

.footer-company a{
  text-decoration: none;
  color: white;
}

.footer-links h4 {
  margin-bottom: 10px;
}

.footer-links {
  margin-bottom: 8px;
}

.main .footer-social img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

footer .last {
  width: 100%;
  height: 50px;
  background: var(--strong);
  color: var(--tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Modal*/

.book-modal {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  z-index: 10000;
}

.book-modal input {
  border-radius: 10px;
  border: none;
  padding: 5px;
}

.book-modal button {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: var(--strong);
  color: var(--tertiary);
  transition: 0.5s;
}

.book-modal button:hover {
  background-color: var(--primary);
  transition: 0.5s;
}

.modal-position {
  max-width: 500px;
  max-height: 500px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 12px;
  margin: 10% 0% 0% 32%;
  background-color: var(--secondary);
}

#remove-book-card-position {
  height: 100%;
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttons-remove-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#confirm-button {
  max-width: 200px;
  width: 100%;
  margin-top: 2%;
  margin-right: 1%;
  border: none;
  border-radius: 10px;
  padding: 6px;
  background-color: rgb(209, 0, 0);
  color: white;
  transition: 0.5s;
}

#confirm-button:hover {
  background-color: rgb(255, 91, 91);
  transition: 0.5s;
}

#denied-button {
  max-width: 200px;
  width: 100%;
  margin-top: 2%;
  margin-right: 1%;
  border: none;
  border-radius: 10px;
  padding: 6px;
  background-color: royalblue;
  color: white;
  transition: 0.5s;
}

#denied-button:hover {
  background-color: rgb(132, 163, 255);
  transition: 0.5s;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  width: 50%;
}

#modal-buttons {
  display: flex;
  flex-direction: row;
}

#send-data {
  margin-left: 10px;
  
}

#go-back {
  margin-right: 10px;
}

/* Responsive adjustments */

@media (max-width: 576px) {
  nav ul li {
    display: none;
  }

  .header-block img {
    width: 70%;
    position: absolute;
    right: 16%;
    top: 30%;
  }

  .header-block .text {
    position: absolute;
    bottom: 10%;
    left: 15;
  }

  section .filter-card {
    width: 390px;
    padding: 0px 10px;
  }

  .search-input {
    max-width: 700px;
    min-width: 240px;
  }

  .search-button {
    max-width: 150px;
    min-width: 80px;
  }

  .about {
    margin-top: 100px;
  }

  .title-wrapper-about {
    margin-bottom: 20px;
  }
  .about-content {
    flex-direction: column;
    height: 100%;
  }
  .left {
    display: none;
  }
  .right {
    width: 90%;
  }

  .right p {
    width: 100%;
    margin: 0px;
    text-align: left;
  }

  .features {
    height: 100%;
  }

  .feature-card-block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  footer {
    height: 100%;
  }

  footer .main {
    height: 100%;
  }

  .footer-links {
    flex-direction: column;
    padding-left: 10%;
  }
}
